<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemberMapper">
<select id="useridCheck" resultType="String">
	select count(*) from member
	where userid=#{userid}
</select>

  <insert id="memberOk" parameterType="com.example.demo.dto.MemberDto">
    insert into member(userid,pwd,name,email,phone,writeday)
    values(#{userid},#{pwd},#{name},#{email},#{phone},now())
  </insert>
  
 <select id="getProduct" resultType="HashMap"> 
   select * from product
   where pcode=#{pcode}
  </select>
  
  <select id="getProductAll" resultType="HashMap">
    select product.* , cart.su as csu, datediff(now(),cart.writeday) as days
    from product inner join cart
    on product.pcode=cart.pcode
    and userid=#{userid}
    order by cart.id desc
  </select>


	<delete id="cartDel">
		delete from cart
		where pcode=#{pcode} and userid=#{userid}
	</delete>
	
	
	<select id="bringprice" resultType="com.example.demo.dto.ProductDto">
		select price,halin from product
		where pcode=#{pcode}
	</select>
	
	<update id="chgSu">
		update cart
		set su=#{su}
		where pcode=#{pcode} and userid=#{userid}
	</update>
	<select id="jjimList" resultType="com.example.demo.dto.ProductDto">
		select p.* from product as p
		inner join jjim as j
		on p.pcode=j.pcode and j.userid=#{userid}
	</select>
	<insert id="addCart">
		insert into cart(pcode,userid,su,writeday)
		values(#{pcode},#{userid},1,now())
	</insert>
	<select id="isCart" resultType="Boolean">
		select count(*) from cart
   		where userid=#{userid} and pcode=#{pcode}
	</select>
	<delete id="jjimDel">
		delete from jjim
		where userid=#{userid} and pcode=#{pcode}
	</delete>
	
	<select id="jumunList" resultType="HashMap">
		select p.title, p.pimg, b.name, b.juso, g.chongPrice, g.state, g.su, g.useJuk, g.sudan,g.writeday,g.jumuncode,g.id
		from gumae as g inner join product as p on p.pcode=g.pcode inner join baesong as b on g.baeId=b.id
		where g.userid=#{userid} order by g.id desc 
	</select>
	<update id="chgState">
	    update gumae set state=#{state}
	    where id=#{id}
  	</update>
</mapper>